h1 {
  text-align: center;
}
  
table {
  margin: 0 auto;
}

th {
  padding: 2px 8px; 
}

td.user {
  display: flex;
  align-items: center;
}

span.username {
  margin: 0px 8px;
  display: bold;
}

td.mountGot {
  text-align: center;
  font-size: 18px;
  display: bold;
}

.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 20px;
}
